.page-header {
  text-align: center; }

.logoutButton {
  float: right; }

.todoList {
  padding-top: 40px; }

.todoItem {
  margin-top: 30px; }

.deleteButton {
  margin-left: 40px; }

.itemChecked {
  color: #01b9ff !important; }
